.wrapper {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-top: 10px;
}

.input {
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    color-scheme: light;
}
