.header {
    display: flex;
    justify-content: space-between;
    padding: 15px 48px;
}

.container {
    display: flex;
    gap: 20px;
}

.btn {
    display: flex;
    align-items: center;
}

.light:hover {
    color: aliceblue;
}
