.header {
    display: flex;
    justify-content: space-between;
    padding: 15px 48px;
}

.container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn {
    display: flex;
    align-items: center;
}

.light:hover {
    color: aliceblue;
}

.user {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}
