.header {
    display: flex;
    justify-content: space-between;
    padding: 15px 48px;
}

.container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78px;
    white-space: nowrap;
}

.btn:hover {
    opacity: 0.5;
}

.btn_outline:hover {
    opacity: 1;
}

.user {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}

.light {
    color: aliceblue;
}

.light:hover {
    color: aliceblue;
}
