.container {
    padding: 20px 48px;
}

.customButton {
    width: 80px;
    margin: 50px 100px;
}

.emptyFavorites {
    display: flex;
    width: auto;
    font-size: 36px;
    justify-content: center;
    align-items: center;
    margin: 100px;
}
