.title {
    font-size: 35px;
    color: rgb(255, 223, 247);
    padding-bottom: 5px;
}

.subtitle {
    font-size: 20px;
    color: white;
}

.name {
    color: rgb(255, 255, 255);
}

.text {
    font-size: 19px;
    margin-bottom: 10px;
}

.text_search {
    color: rgb(255, 223, 247);
    font-size: 15px;
    margin-bottom: 0px;
}
