.entry-text__title {
    font-size: 35px;
    color: rgb(255, 223, 247);
    padding-bottom: 5px;
}

.entry-text__txt {
    font-size: 20px;
}

.entry-text__txt_search {
    color: rgb(255, 223, 247);
}
