.title {
    font-size: 35px;
    color: rgb(255, 223, 247);
    padding-bottom: 5px;
}

.name {
    color: rgb(255, 255, 255);
}

.text {
    font-size: 20px;
}

.text_search {
    color: rgb(255, 223, 247);
}
